
.mdl-layout-spacer{
    margin: 16px;
}

.mdl-tooltip.is-active{
    text-align: left;
}

.sbj-content {
	height: 100%;
    color: var(--sbj-color-default-text);

}

.sbj-home-instance-header-row{
    padding: 0px 40px;
}

.sbj-timeline-icon-image{
    height: 72px;
    margin: 0px 4px 16px 4px;
}

#sbj-home-instance-account-count{
    margin-right: 40px;
}

.sbj-home-instance-actions{
    padding: 16px 0px 16px 32px;
}

.sbj-home-instance-info{
    padding: 8px 32px 30px 32px;
}

.sbj-home-instance-info-label{
    display: inline-block;
    margin: 0px;
    padding: 8px 0px;
}

.sbj-home-instance-info-notes{
    margin: 0px;
    padding: 0px 0px;
}

#sbj-home-instance-title{
    padding: 0px 20px 0px 0px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#sbj-start-linkcopy{
    margin: 0px 12px 0px 0px;
}

#sbj-invite-url{
    padding: 0px 0px 0px 0px;
    border-bottom: none;
    font-size: 20px;
    display: inline-block;
    width: calc(100% - 112px);
}

#sbj-invite-note{
    padding: 0px 16px;
    margin: 0px;
}

#sbj-home-instance-main{
    height: 100%;
    width: 100%;
}

#sbj-chat-client{
    height: 100%;
    width: 100%;
}

#sbj-clear-timeline{
    margin: 0px 12px;
}