/*-----------------------------
 *  
 *---------------------------*/
.sbj-home-visitor{
    width: 100%;
    height: 100%;
    padding: 0px 72px;
}

#sbj-home-visitor-main{
    background-color: var(--sbj-color-default-chatroom);
}

.sbj-home-visitor-header-row{
    padding: 0px 40px 0px 54px;
}

#sbj-home-visitor-account-count{
    margin-right: 16px;
}

/*-----------------------------
 *  
 *---------------------------*/

.timeline-pane{
    background-color: var(--sbj-color-room-default-background);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;    
    margin: auto;
}

.sbj-home-visitor-connecting{
    margin: 20px;
}

#sbj-home-visitor-timeline-component {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 166px);
}

.sbj-home-visitor-disconnect-action{
    padding: 0px 16px;
}

/*-----------------------------
 * 
 *---------------------------*/

#sbj-start-visitor 
{
    margin: 0px 0px 0px 16px;
}

#sbj-stop-visitor{
    margin: 0px 0px 0px 16px;
}

/*-----------------------------
 *  Input panel
 *---------------------------*/

.sbj-inputpanel{
    position: absolute;
    min-width: 640px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: var(--sbj-color-inputarea-background);
    padding-left: 12px;
    border-radius: 6px;
    border: 1px solid var(--sbj-color-inputarea-border);        
}

.sbj-speechpanel{
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: var(--sbj-color-default-background);
    padding-left: 12px;
    border-radius: 6px;    
 }

 #sbj-profile-name-field{
     width: 180px;
 }

.sbj-inputpanel-icontext{
    padding:0px;
    clear:both;
}

.sbj-inputpanel-button-left{
    float: left;
    display: inline-flex;
}

#sbj-recording-settings {
   display: inline-flex;
   margin: 20px 0px 0px 40px;
}

.sbj-inputpanel-button-right{
    margin: 20px 0px;
    float: right;
}

.sbj-inputpanel-action{
    padding: 4px;
    clear:both;
}

#sbj-inputpanel-send-message-recognition{
    width: 120px;
    text-align: left;
}

#sbj-check-recording-label{
    margin: 6px;
    width: 72px;
    padding-left: 20px;
    color: var(--sbj-color-icon-selection);
}

.sbj-inputpanel-button{
    padding: 0px 4px;
    color: #757575;    
}

#sbj-inputpanel-header{
    display: flex;
}
#sbj-chatmessage-color{
    margin:24px 0px 0px 8px;
}

.sbj-inputpanel-noread-icon{
    margin: 4px;
}

textarea.sbj-inputpanel-text {
    width: calc(100% - 30px);
    height: 48px;
    margin: 0px 0px 12px 0px;
    border-radius: 8px;
    outline: none;
    padding: 4px 8px;
    resize: none;
    float: left;
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 16px;
}

.sbj-icon{
	width:100%;
	height:100%;
}

.sbj-icon-cell{
	margin:4px;
	width: 96px;
	height:96px;
    min-height: 96px;
}

.sbj-home-visitor-profile-editer{
    width: 100%;
    height: 660px;
}

.sbj-voicechat-member-img {
    width: 28px;
    height: 28px;
    min-width: 28px;
    margin: 4px;
    background-size: cover;
    float: left;
}

.sbj-voicechat-member-img-box {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: var(--sbj-color-edge-background);
}


.sbj-voicechat-setting-card.mdl-card {
    padding: 10px;
    width: 440px;
    height: 148px;
    min-height: 148px;
    position: absolute;
    bottom: 48px;
    left: 140px;
    overflow: visible;
}

.sbj-voicechat-device-select{
    width: 400px;
}

.sbj-voicechat-device{
    padding: 16px;
}

/*-----------------------------
 *  timeline
 *---------------------------*/

.sbj-timeline{
    margin: 0px 6px;
}

.sbj-timeline-flex-right {
    display: flex;
    border: 0px;
    clear: both;
    float: right;
}

.sbj-timeline-flex-left {
    display: flex;
    border: 0px;
    clear: both;
    float: left;
}

.sbj-timeline-adjust{
    min-width: 80px;
    min-height: 80px;
}

.sbj-timeline-balloon {
    border-radius: 5px;
    margin: 1px;
    padding: 2px 3px 0px 3px;
    color: var(--sbj-color-timeline-message);
    background-color: var(--sbj-color-timeline-ballon);
    clear: both;
}

.sbj-timline-message-box{
    margin: 4px 2px;
}

label.sbj-timeline-name {
    font-size: 12px;
    color: var(--sbj-color-timeline-name);
    padding: 0px 4px;
    margin: 0px 1px;
    text-decoration: none;
    background-color: var(--sbj-color-timeline-name-background);
    border-radius: 3px;
}

p.sbj-timeline-message {
    font-size: 16px;
    margin: 2px;
}

i.sbj-timeline-message-icon{
    color: var(--sbj-color-timeline-ballon);
}


.sbj-timeline-message-autolink{
    color: var(--sbj-color-link-text);
}

.sbj-timeline-icon-image{
    height: 48px;
    margin: 4px;
}

p.sbj-timeline-message-ignore {
    text-decoration: line-through;
    color: var(--sbj-color-timeline-message-ignore);
}

.sbj-timeline-ignore{
    height: 28px;
    margin: 0px 8px 4px;
    border: 0px;
    background: rgba(255,255,255,0.2);
}

:focus {
    outline: none;
}

.sbj-timeline-edit-textarea{
    width: calc(100% - 12px);
    border: 0px;
    margin: 4px;
    padding: 3px;
    overflow: hidden;
    border-radius: 6px;
    min-width: 600px;
    height: 32px;
}

/*-----------------------------
 *  
 *---------------------------*/

 .sbj-inptpanel-recognition-label{
    margin: 5px 8px 5px 0px;
    font-size: 14px;
    color: #191970;
 }

 .cp_ipselect {
    overflow: hidden;
    text-align: center;
}
.cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
    position: relative;
    border-radius: 2px;
    border: 1px solid #191970;
    border-radius: 8px;
    margin: 0 16px 4px 0px;    
    background: #ffffff;
}
.cp_ipselect.cp_sl04::before {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #191970;
    pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
    padding: 8px 38px 8px 8px;
    color: #191970;
}