
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.sbj-title{
    margin: 0px;
    color: whitesmoke;
}

.sbj-main {
    background-color: var(--sbj-color-default-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.sbj-header .mdl-layout__header-row {
  padding-left: 40px;
}

.sbj-container {
  max-width: 960px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.sbj-content {
  border-radius: 2px;
  background-color: var(--sbj-color-default-background);
}

.sbj-footer {
  padding-left: 40px;
}

.sbj-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

#sbj-start-tooltip{
  text-align: left;
  max-width: 280px;
}

.sbj-text-warning{
  color:var(--sbj-color-warning-text);
}

.sbj-cell{
  padding: 8px;
}

a{
  text-decoration: none;
}
a:link {color: var(--sbj-color-link-text);}    
a:visited {color: var(--sbj-color-link-text);}
a:hover {color: var(--sbj-color-link-text);} 
